
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProductsas</title>
</head>
<body>
    <div> 
        <p>@ViewData["CategoryName"]</p>
    </div>
</body>
</html>
