@model DayTide.Models.Category
@{
    Layout = "~/Views/Shared/_Layout_Moderator.cshtml";
}

<script src="~/scripts/jquery/jquery-3.5.1.js"></script>

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Edit Category</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <form method="post" class="tm-edit-product-form">
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-3">
                                <label for="name">
                                    Category Name
                                </label>
                                <input id="name"
                                       name="CategoryName"
                                       type="text"
                                       class="form-control validate"
                                       value="@Model.CategoryName"/>
                                @*@error('name')
                                    <div style="color:red; text-align:center">{{$message}}</div>
                                    @enderror*@
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Category</button>
                                    </div>
                                    <div class="col-sm">
                                        @Html.ActionLink("Go to List", "CustomizeCategory", new { }, new { @class = "btn btn-outline-info" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
